@{
    ViewData["Title"] = "Home Page";
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">QuizzyWhiz</a> <!-- Mengubah teks navbar-brand menjadi QuizzyWhiz -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>
<div class="text-center">
    <h1 class="display-4">Selamat Datang</h1> <!-- Mengubah judul menjadi Selamat Datang -->
    <p>Ayok, kita belajar tentang <a href="https://learn.microsoft.com/aspnet/core">membangun aplikasi Web dengan ASP.NET Core</a>.</p> <!-- Mengubah teks menjadi Ayok, kita belajar -->
</div>
